<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control
        (intervalFired)="onIntervalFired($event)"
      ></app-game-control>
    </div>
  </div>

  <p appBetterHighlight [defaultColor]="'yellow'" [hightlightColor]="'red'">
    This is paragraph for Directive
  </p>

  <div class="row">
    <div class="col-xs-12">
      <app-odd
        *ngFor="let oddNumber of oddNumbers"
        [number]="oddNumber"
      ></app-odd>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <app-even
        *ngFor="let evenNumber of evenNumbers"
        [number]="evenNumber"
      ></app-even>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div [ngSwitch]="value">
          <p *ngSwitchCase="10">10</p>
          <p *ngSwitchCase="100">100</p>
          <p *ngSwitchCase="1000">1000</p>
          <p *ngSwitchDefault>default</p>
        </div>
      </div>
    </div>
  </div>
</div>
